body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure consistent usage of vh or replace with another unit if needed */
  }
  